h1, h2, h3, h4, h5, h6 
{
    font-weight: $fontWeight-bold;
}

.semibold {
    font-weight: $fontWeight-semibold;
}

.title-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 32px;
}