/* ================================================================
   MIXINS
   ================================================================ */
/* ================================================================
   REM Mixin
   ================================================================ */
/* ================================================================
   CLEARFIX MIXIN

   - EXAMPLE:

   div {
     @include clearfix;
   }
   ================================================================ */
/* ================================================================
RESET STYLES BUTTON MIXIN

- EXAMPLE:

button {
  @include resetBtn;
}
================================================================ */
/* ================================================================
FIT IMAGE MIXIN

- EXAMPLE:

img {
  @include fitImg;
}
================================================================ */
/* ================================================================
FIT IMAGE MIXIN

- EXAMPLE:

.bg-img {
  @include bgImg;
}
================================================================ */
/* ================================================================
RESET STYLES LIST MIXIN

- EXAMPLE:

ul {
  @include resetList;
}
================================================================ */
/* ================================================================
INPUT PLACEHOLDER MIXIN

- EXAMPLE:

input {
  @include placeholder {
    color: red;
    opacity: 1;
  }
}
================================================================ */
/* ================================================================
   PSUEDO MIXIN

   - EXAMPLE:

   div::after {
     @include pseudo;
     top: -1rem; left: -1rem;
   }
   ================================================================ */
/* ================================================================
   Breakpoint mixin
   ================================================================ */
/* ================================================================
   CUSTOM
   ================================================================ */
/* variables */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/* variables */
/* reset code */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  hyphens: auto;
  font: inherit;
  font-family: "Red Hat Text", sans-serif;
  color: #260F08;
}

/*
    3. Allow percentage-based heights in the application
  */
html {
  font-size: 62.5%;
}

html,
body,
#__next {
  height: 100%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  background: #FCF8F6;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  display: inline;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: underline;
}

a:not([class]):hover,
a:not([class]):focus {
  text-decoration: none;
}

/* Very simple blockquote styling */
blockquote {
  margin: 1em 1.5em;
  padding-left: 1.5em;
  border-left: 5px solid hsl(0, 0%, 85%);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}

a,
button {
  transition: var(--transition1);
}

a {
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* ================================================================
Base styles
================================================================ */
.site-container {
  position: relative;
}

/* Base Container Styles */
.container {
  width: 100%;
  max-width: 1263px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 48em) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.container.container--xsmall {
  max-width: 62.5rem;
}
.container.container--small {
  max-width: 72.1875rem;
}
.container.container--medium {
  max-width: 92.5rem;
}
.container.container--large {
  max-width: 117.5rem;
}
.container.container--fluid {
  max-width: none;
  padding: 0;
}
.container.container--fluid .section-container__row {
  margin: 0;
}
.container.container--fluid .section-container__col {
  padding: 0;
}
.container.container--nested,
.container .container {
  padding: 0;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.body {
  padding: 24px 0;
}
@media (min-width: 48em) {
  .body {
    padding: 40px 0;
  }
}
@media (min-width: 75em) {
  .body {
    padding: 88px 0;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}
@media (min-width: 75em) {
  .main-grid {
    grid-template-columns: 800px 1fr;
  }
}

.section-filters {
  outline: 1px solid red;
}
@media (min-width: 75em) {
  .section-filters {
    grid-column: 1/-1;
  }
}

.section-products {
  outline: 1px solid black;
}

.section-cart {
  outline: 1px solid blue;
}
@media (min-width: 75em) {
  .section-cart {
    grid-column: 2/-1;
  }
}

/* utility classes */
.last-p p:last-child {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.force-new-row {
  flex-basis: 100%;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-start {
  display: flex;
  align-items: flex-start;
}

.fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pos-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.nowrap {
  white-space: nowrap;
}

.center-text {
  text-align: center;
}

.lazy-img {
  opacity: 0;
  transform: translateY(-5rem) scale(0.5);
  transition: all 0.3s ease-in;
}

.unlazied {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.resetBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.resetList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;
}

.visuallyhidden,
.visually-hidden,
.visuallyHidden,
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  transition: none;
}

.visuallyhidden.focusable:focus,
.visually-hidden.focusable:focus,
.visuallyHidden.focusable:focus,
.sr-only.focusable:focus {
  top: 0;
  left: 0;
  background: black;
  color: white;
  overflow: visible;
  clip: auto;
  margin: 0;
  width: 100%;
  height: auto;
  border: 1px dashed white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  z-index: 9001;
}

/* utility classes */
.product-card-box__title {
  margin-bottom: 32px;
  font-size: 4rem;
  line-height: 120%;
}

.product-listing {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (min-width: 37.5em) {
  .product-listing {
    gap: 24px 32px;
  }
}

.product-listing__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
@media (min-width: 37.5em) {
  .product-listing__item {
    width: calc(50% - 16px);
  }
}
@media (min-width: 75em) {
  .product-listing__item {
    width: calc(33.3333% - 22px);
  }
}

.product-listing__imgbox {
  position: relative;
  border-radius: 8px;
  max-height: 212px;
  overflow: hidden;
  padding-bottom: 64%;
}
@media (min-width: 75em) {
  .product-listing__imgbox {
    max-height: 240px;
    padding-bottom: 98.2%;
  }
}

.product-listing__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.product-listing__buttonbox {
  display: none;
}

.product-listing__category {
  margin-bottom: 4px;
  font-size: 1.4rem;
  color: #87635A;
  line-height: normal;
}

.product-listing__product-name {
  margin-bottom: 4px;
  font-size: 1.6rem;
  line-height: normal;
  font-weight: 600;
}

.product-listing__price {
  font-weight: 600;
  color: #C73B0F;
  font-size: 1.4rem;
  line-height: normal;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
